Problem with name constraints validation algorithm

There is a problem with the name constraints validation algorithm. In particular, if a name constraint exists for a certain type (e.g. dNSName), but the certificate does not contain such a name (there is no subject alternative name with dNSName type), then the validation fails even if it should have succeeded. This happens for example when there is a sub CA which is technically constrained using rfc822Name and dNSName constraints, and there is an end entity certificate which doesn't have both an rfc822Name and a dNSName.
The problem is at the x509_simpl.js file, at in_window.org.pkijs.simpl.CERT_CHAIN.prototype.verify, at the region 'Check name constraints groupped by type, one-by-one'. For example, at the subregion dNSName you should check if there is no subject_alt_names with subject_alt_names[i].NameType equal to 2, and if so then set group_permitted equal to true.

> In particular, if a name constraint exists for a certain type (e.g. dNSName), but the certificate does not contain such a name (there is no subject alternative name with dNSName type), then the validation fails even if it should have succeeded

Why do you think that if CA has a name constraint and the certificate has no such constraint then validation should have succeeded? And why do you think that if CA has both DNS name constraint and RFC822 (e-mail) constraints then certificate could have only one of the constraints?

RFC 5280, section 4.2.1.10 (Name constraints)

> Restrictions apply only when the specified name form is present.  If no name of the type is in the certificate, the certificate is acceptable.

Thus, if the CA has both dNSName and rfc822Name constraints the validation only takes places for the ones that are present at the end entity certificate.

You did not get the idea: the restrictions apply only if specified name form is present in CA certificate. So, if the CA certificate we have a name constraint then all sub-certificates must be inside defined name tree.

That is not the behavior of OpenSSL, NSS, GnuTLS, Microsoft, Apple and any other libraries I know of. Using your interpretation, if you have a CA that has both dNSName and rfc822Name constraints then it cannot issue S/MIME certificates (they don't have dNSNames). You can close the bug if you think that my interpretation is wrong, but this is the interpretation by all major libraries and operating systems.

If you are so sure then please provide me an example certificate chain with your kind of behavior. From my side I need to say that PKIjs certificate chain engine was tested agains [NIST PKI Test Suite](http://csrc.nist.gov/groups/ST/crypto_apps_infra/pki/pkitesting.html).

Unfortunately, there is no similar cert in the NIST PKI Test Suite. However I can mail you a certificate chain that has this issue (my personal certificate). Should I use the email at your profile?

Sure, you can use my e-mail.

Fixed in l[atest commit](https://github.com/GlobalSign/PKI.js/commit/47976bda19711f24d9b3f58e57828db0ce359d7b).